# Exercise Problems for Python List (Array)!

Remember, if you're familiar with Array in other languages like Java and C++, it's usually implemented as a List in Python.

### Problem 1: Initialize a new list called a_list with the elements ["item1", "item2", "item3"].

In [20]:
# Write your solution below:
a_list = ["shiv", "shivam", "shivom", "shiva"]
for i in a_list:
    print(i)

shiv
shivam
shivom
shiva

In [21]:
print("a_list is: ")
print(a_list) # This should print ['item1', 'item2', 'item3']

a_list is:
['shiv', 'shivam', 'shivom', 'shiva']

### Problem 2: Change the second element in b_list (defined below) to 1.

In [17]:
b_list = [0, 0, 0]
b_list[1] = 1
print(b_list)
# Write your solution below:

[0, 1, 0]

In [18]:
print("b_list is: ")
print(b_list) # This should print [0, 1, 0]

b_list is:
[0, 1, 0]

### Problem 3: Iterate over each element in c_list and print it using the "for element in ..." syntax.

In [22]:
c_list = ["item0", "item1", "item2"]
# Write your solution below:
for i in c_list:
    print(i)

item0
item1
item2

### Problem 4: Iterate over each element in d_list and print it using the "for i in range(...)" syntax.

In [30]:
d_list = ["item0", "item1", "item2"]
# Write your solution below:
# range(3) -> [0, 1, 2]
for i in range(len(d_list)):
    if d_list[2]:
        d_list.append(".")
    print(d_list[i], end=", ")

print("Your solution should have printed item0, item1, and item2.")

item0, item1, item2, Your solution should have printed item0, item1, and item2.

### Problem 5: Find the sum of e_list, which contains: [32, 55, 710, 1].

In [31]:
e_list = [32, 55, 710, 1]
# Write your solution below.
total = 0
print(sum(e_list))
print('The sum of e_list is (should be 798):')
print(total)

798
The sum of e_list is (should be 798):
0

In [100]:
list_z = [2,2]
def SecondFuno(list_z):
    largest = None
    sec_largest = None
    for num in list_z:
        if largest == None:
            largest = num
        elif num > largest:
            sec_largest = largest
            largest = num
        elif sec_largest == None:
            sec_largest == num
        elif num > sec_largest:
            sec_largest = num
    return f"2nd {sec_largest} and 1st {largest}"
SecondFuno(list_z)

'2nd None and 1st 2'

In [98]:
list_sec_max = [2,2]
def SecondFun(list_sec_max):
    if list_sec_max == []:
        return 0
    elif len(list_sec_max) == 1:
        return "None"
    list_sec_max.sort(reverse=True)
    print(list_sec_max)
SecondFun(list_sec_max)

[2, 2]

In [109]:
def SecondLargest(list_nums):
    largest = None
    Sec_largest = None
    for num_now in list_nums:
        if largest == None:
            largest = num_now        
        elif num_now > largest:
            Sec_largest = largest
            largest = num_now
        elif num_now == largest:
            Sec_largest = num_now
    return Sec_largest

SecondLargest([4,4])

4